<div id="player-template" style="display:none">
    <div class="col-md-4 col-md-offset-1">
        <div class="media">
            <div class="player">
                <div class="pl hidden"></div>
                <div class="title"></div>
                <div class="artist"></div>
                <div class="cover">
                    <img src="/static/img/player/blank_disc.jpg">
                </div>
                <div class="controls">
                    <div class="play"></div>
                    <div class="pause"></div>
                    <div class="rew"></div>
                    <div class="fwd"></div>
                </div>
                <div class="volume"></div>
                <div class="tracker"></div>
            </div>
            <ul class="playlist hidden">
            </ul>
        </div>
    </div>
</div>